#gauge {
  margin-left:-120px;
  margin-top:10px;
}

#gauge-label {
  display:block;
  margin-left:162px;
  margin-top:15px;
}

#gauge-value {
  display:block;
  margin-left:165px;
  margin-top:-225px;
}

#gauge-value:after {
  content: '%';
}

#tiltback-speed-label {
  display: block;
  text-align: center;
}
